<nav class="page-nav">
  <div id="logo">
    <a href="/">
      <span>
        <div>
          <h1>happy tails</h1>
          <h4>rescue hub</h4>
        </div>
        <i class="fa-solid fa-dog"></i>
      </span>
    </a>
  </div>
  <div class="nav-interactions">
    <% if (user && user.id) { %>
      <% if (user.is_admin) { %>
      <form method="GET" action="/my_listings">
        <button class="user-functions">
          <span>
            <i class="fa-solid fa-heart"></i>
            My Listings
          </span>
        </button>
      </form>
      <form method="GET" action="/create_listing">
        <button class="user-functions">
          <span>
            <i class="fa-solid fa-heart"></i>
            Create Listing
          </span>
        </button>
      </form>
      <% } %>
      <form method="GET" action="/favourites">
        <button class="user-functions">
          <span>
            <i class="fa-solid fa-heart"></i>
            MY FAV PUPS
          </span>
        </button>
      </form>
      <form method="POST" action="/logout">
        <button type="submit">
          <span>
            <i class="fa-solid fa-right-from-bracket"></i>
            Logout
          </span>
        </button>
      </form>
      <% } else { %>
        <form method="GET" action="/login">
          <button class="user-functions">
            <span>
              <i class="fa-solid fa-paw"></i>
              Login
            </span>
          </button>
        </form>
        <form method="GET" action="/register">
          <button class="user-functions">
            <span>
              <i class="fa-solid fa-paw"></i>
              Create Account
            </span>
          </button>
        </form>
      <% } %>
  </div>
</nav>
