<nav>
  <div id="logo">
    <h1>happy tails <i class="fa-solid fa-dog"></i></h1>
  </div>
  <div class="nav-favs">
    <button class="user-functions">
      <span>
        <i class="fa-solid fa-heart"></i>
        MY FAV PUPS
      </span>
    </button>
    <button class="user-functions">
      <span>
        <i class="fa-solid fa-paw"></i>
        Login
      </span>
    </button>
    <button class="user-functions">
      <span>
        <i class="fa-solid fa-paw"></i>
        Create Account
      </span>
    </button>
  </div>
</nav>
