<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <title>Create A New Listing</title>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/listings.css" />
  <link rel="stylesheet" href="/styles/page-header.css" />

  <!-- External Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+3:ital,wght@0,300;0,600;1,300;1,600&display=swap" />

  <!-- CDN libraries -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- App JS -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>
<body>
  <%- include('partials/_header') %>
  <main>
    <form action="/ht_create_listing" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>

      <label for="age">Age:</label>
      <input type="number" id="age" name="age" required>

      <label for="breed">Breed:</label>
      <input type="text" id="breed" name="breed" required>

      <label for="adoption_fee">Adoption Fee:</label>
      <input type="number" id="adoption_fee" name="adoption_fee" required>

      <label for="description">Description:</label>
      <textarea id="description" name="description"></textarea>

      <label for="photo_url">Photo URL:</label>
      <input type="text" id="photo_url" name="photo_url" required>

      <button type="submit">Create Listing</button>
    </form>
  </main>
</body>
</html>

