.container {
  width: 100%;
  height: 100vh;
  background: rgb(163, 208, 219);
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.listings {
  width: 90%;
  margin: 0 auto;
  // padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: none;
}

.listings article {
  width: 18rem;
  height: 22rem;
  border: 1px solid rgba(162, 176, 219, 0.958);
  padding: 0.5rem;
  margin: 1rem;
  background-color: #ffffff;
  border-radius: 12px;
  text-align: center;
  h2 {
    font-family: "Bungee", sans-serif;
    color: rgb(85, 90, 95);
    letter-spacing: 0.5px;
    margin: 0 auto;
    padding: 0;
  }

  h5 {
    font-family: "Source Sans 3", sans-serif;
    color: rgb(85, 90, 95);
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
  }
  img {
    max-width: 17rem;
    height: 13rem;
    padding: 0.5em;
    border-radius: 1rem;
  }
  .dog-info {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    h2 {
      font-family: "Source Sans 3", sans-serif;
      font-size: 1.15rem;
    }
  }
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: last baseline;
  padding: 0.5rem;
  // margin-top: 0;
}
.interactions button {
  background-color: rgb(211, 180, 226);
  color: #ffffff;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 10px;
  border-width: 1.5px;
}

article:hover {
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.2),
  0px 4px 5px 0px rgba(0, 0, 0, 0.14),
  0px 1px 10px 0px rgba(0, 0, 0, 0.12);}

article .fa-solid.fa-heart {
  background-color: rgb(211, 180, 226);
  padding: 3px;
  color: #ffffff;
}

button a {
  color: #ffffff;
  padding: 3px;
  text-decoration: none;
}

button:hover {
  color: #ffffff;
}

.favs {
  padding-top: 5rem;
}
