body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  background: rgb(163, 208, 219);
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}


