.my-listings {
  min-width: 90%;
}

table {
  padding: 8px;
  margin-bottom: 0;
}

td {
  padding: 2em;
}

thead tr {
  background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0%, rgb(241, 220, 127) 90%);  color: #ffffff;

}

tr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 8px;
  background-color: #ffffff;
  color: slategray;
  border-radius: 16px;
}



td img {
  width: 160px;
  max-height: 160px;
  min-height: 145px;
}

.status button {
  background-color: rgb(62, 121, 230);
  color: #ffffff;
  padding: 0.5em;
  border-radius: 16px;
  border: none;
}

.delete button {
  background-color: rgb(214, 42, 42);
  color: #ffffff;
  padding: 0.5em;
  border-radius: 16px;
  border: none;

}
