main {
  height: 100vh;
  width: 100vw;
  background-color: rgb(239, 239, 238);
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}
.my-listings {
  // width: 90%;
  padding: 0 3rem;
    margin: 0 auto;
    margin-top: 4rem;
    table {
      padding: 0.5rem;
      width: 100%;
      margin: 0 auto;
    }
      thead tr {
        background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0%, rgb(241, 220, 127) 90%);
        color: #ffffff;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
          0px 4px 5px 0px rgba(0, 0, 0, 0.14),
          0px 1px 10px 0px rgba(0, 0, 0, 0.12);      }

      tr {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0.75rem;
        background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
        color: slategray;
        border-radius: 1rem;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
          0px 4px 5px 0px rgba(0, 0, 0, 0.14),
          0px 1px 10px 0px rgba(0, 0, 0, 0.12);
      }

      .status button {
        background-color: rgb(62, 121, 230);
        color: #ffffff;
        padding: 0.5em;
        border-radius: 16px;
        cursor: pointer;
        border: none;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
          0px 4px 5px 0px rgba(0, 0, 0, 0.14),
          0px 1px 10px 0px rgba(0, 0, 0, 0.12);
      }

      .delete button {
        background-color: rgb(214, 42, 42);
        color: #ffffff;
        padding: 0.5em;
        border-radius: 16px;
        cursor: pointer;
        border: none;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
          0px 4px 5px 0px rgba(0, 0, 0, 0.14),
          0px 1px 10px 0px rgba(0, 0, 0, 0.12);
      }
      td {
        padding: 1rem;
        img {
          max-width: 15rem;
          height: 10rem;
          border-radius: 0.5rem;
        }
      }
    }



