.page-nav {
  display: flex;
  height: 100px;
  background: linear-gradient(109.6deg, rgb(255, 207, 84) 11.2%, rgb(255, 158, 27) 91.1%);  padding-left: 0.5em;
  padding-right: 1.5em;
  justify-content: space-between;
  top: 0;
  position: fixed;
  width: 100%;
}

#logo {
  display: flex;
  font-family: 'Bungee', sans-serif;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  word-spacing: 5px;
  margin-left: 10px;
}

#logo a {
  color: white;
  text-decoration: none;
}

.nav-interactions {
  font-family: 'Bungee', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-nav p {
  color: #ADE0F7;
  margin: 0;
  font-size: 1em;
}

.nav-interactions button {
  background: none;
  color: #ffffff;
  padding: 4px 8px;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
}

.nav-interactions i {
  color: rgb(211, 180, 226);
  padding-top: 6px;
}

button:hover {
  color: #ffffff;
}


.filterBar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(109.6deg, rgb(255, 207, 84) 11.2%, rgb(255, 158, 27) 91.1%);  padding-left: 0.5em;
  padding: 1em;

}

.filterBar h2 {
  color: #ffffff;
  font-weight: 600;
}

.filterBar label {
  font-size: 1.4em;
  color: #ffffff;
  font-weight: 600;
}

.filterBar input {
  border-radius: 10px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0 0.5em;
  width: 8em;
  cursor: pointer;
  border: solid 2px lightgrey;
}

.filterBar button {
  border: solid 2px lightgrey;

  border-radius: 10px;
  background-color: rgb(211, 180, 226);
  color: #ffffff;
  padding: 0 0.5em;
  cursor: pointer;
  border: none;
}
