nav {
  display: flex;
  height: 100px;
  background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0%, rgb(252, 251, 121) 90%);  color: #ffffff;
  padding-left: 0.5em;
  padding-right: 1.5em;
  justify-content: space-between;
  top: 0;
  position: fixed;
  width: 100%;
}

#logo {
  display: flex;
  font-family: 'Bungee', sans-serif;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  word-spacing: 5px;
  margin-left: 10px;
}

#logo a {
  color: white;
  text-decoration: none;
}

.nav-interactions {
  font-family: 'Bungee', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav p {
  color: #ADE0F7;
  margin: 0;
  font-size: 1em;
}

.nav-interactions button {
  background: none;
  color: #b4e5e8;
  padding: 4px 8px;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
}

.nav-interactions i {
  color: rgb(211, 180, 226);
  padding-top: 6px;
}

button:hover {
  color: #ffffff;
}
