#page-header {
  padding-top: 100px;
  padding-bottom: 40px;
  height: 580px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(239, 239, 238);
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}

#about-us {
  margin-top: 0;
  width: 45%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 2em;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

#feature {
  width: 45%;
  display: flex;
  margin: 0;
  padding: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page-header article {
  margin: 0 auto;
  padding: 1em;
  background: rgb(163, 208, 219);
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  display: flex;
  border-radius: 12px;
  text-align: center;
  min-width: fit-content;
  max-width: 44%;
}

#page-header h2 {
  font-family: 'Bungee', sans-serif;
}


