.page-header {
  width: 100%;
  padding: 4rem;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(239, 239, 238);
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}

.page-header h2 {
  font-family: "Bungee", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  color: rgb(85, 90, 95);
  margin: 1rem;
  padding-top: 1rem;
}

.about-us {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 1.25rem;
  width: 50%;
  div {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  p {
    margin: 0;
    color: rgb(85, 90, 95);
    text-align: center;
    padding: 2rem;
  }
}

.feature {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    .feature-title {
      font-family: "Bungee", sans-serif;
      font-size: 1.5rem;
      letter-spacing: 0.5px;
      color: rgb(85, 90, 95);
      margin: 1rem;
    }
    article {
      height: 22rem;
      width: 18rem;
      padding: 0.5rem;
      border-radius: 12px;
      text-align: center;
      background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
      box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);      h2 {
        font-family: 'Bungee', sans-serif;
        color: rgb(85, 90, 95);
        letter-spacing: 0.5px;
        margin: 0 auto;
        padding: 0;
      }

      h5 {
        font-family: "Source Sans 3", sans-serif;
        color: rgb(85, 90, 95);
        letter-spacing: 0.5px;
        margin: 0;
        padding: 0;
      }
      img {
        max-width: 17rem;
        height: 13rem;
        padding: 0.5em;
        border-radius: 1rem;
      }
      .dog-info {
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        h2 {
          font-family: "Source Sans 3", sans-serif;
          font-size: 1.15rem;

        }
      }
    }

}

// #feature {
//   div {
//     margin: 0 auto;
//     display: flex;
//     justify-content: center;
//     article {
//       // display: flex;
//       // flex-direction: column;
//       // justify-content: center;
//       height: 22rem;
//       width: 18rem;
//       padding: 0.5rem;
//       border-radius: 12px;
//       text-align: center;
//       background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
//       box-shadow: 4px 6px rgba(162, 176, 219, 0.958);
//       img {
//         max-width: 17rem;
//         height: 13rem;
//         padding: 0.5em;
//         border-radius: 1rem;
//       }
//       h2 {
//         padding-top: 0;
//         letter-spacing: 0.5px;
//         margin: 0 auto;
//       }
//       h5 {
//         font-family: "Source Sans 3", sans-serif;
//         color: rgb(85, 90, 95);
//         letter-spacing: 0.5px;
//         margin: 0;
//         padding: 0;
//       }
//     }
//   }
//   #spotlight-dog-info h2 {
//     font-family: "Source Sans 3", sans-serif;
//     font-size: 1.15rem;
//   }

//   #spotlight-dog-info {
//     margin-bottom: 0;
//     display: flex;
//     justify-content: space-between;
//     align-items: flex-end;
//   }
// }
