main {
  height: 100vh;
  width: 100vw;
  background-color: rgb(239, 239, 238);
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}

.single {
  padding-top: 4rem;
  margin: 3rem auto;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  article {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    height: 500px;

    border-radius: 1rem;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }

  img {
    height: 18rem;
    max-width: 18rem;
    border-radius: 1rem;
  }
}

.column {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem;
  h1 {
    font-family: 'Bungee', sans-serif;
    text-align: center;
  }
}

.publish_date {
  word-wrap: break-word;
}

.single-dog-info {
  padding-top: 1rem;
}

.single-dog-info h2 {
  font-family: "Source Sans 3", sans-serif;
  padding: 4px;
}

.single-dog-info.interactions {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-bottom: 0;
}



#message-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;

    #send-message {
      display: flex;
      flex-direction: row;
      margin: 1rem auto;
      justify-content: center;

      #message {
        width: 40rem;
        border-radius: 16px;
        padding: 2rem;
      }

      #send {
        background-color: rgb(211, 180, 226);
        color: #fff;
        height: 3rem;
        font-family: 'Bungee', sans-serif;
        font-size: 1.5em;
        border-radius: 1rem;
        margin: 1rem;
        padding: 0 1rem;
        justify-content: center;
        cursor: pointer;
      }
    }
}
