.single article {
  padding-top: 0;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 500px;
  min-width: 70%;
  max-width: 930px;
  border-radius: 2em;
}

.single img {
  height: 300px;
  width: 400px;
  border-radius: 16px;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.publish_date {
  word-wrap: break-word;
}

.single-dog-info {
  padding-top: 4em;
}

.single-dog-info h2 {
  font-family: "Source Sans 3", sans-serif;
  padding: 4px;
}

.single-dog-info.interactions {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-bottom: 0;
}

.column h1 {
  font-family: 'Bungee', sans-serif;
  text-align: center;
  margin-top: 0;
}

#message {
  width: 600px;
  border-radius: 16px;
  margin-right: 20px;
  padding: 1em;
}

#send-message {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 20px auto;
  max-height: 200px;
  justify-content: center;

}

#send {
  background-color: rgb(211, 180, 226);
  color: #fff;
  width: 8em;
  font-family: 'Bungee', sans-serif;
  font-size: 1.5em;
  border-radius: 16px;
  padding: 1em;
  justify-content: center;
  cursor: pointer;
}
